* {
  box-sizing: border-box;
}

:root {
  --color-dark: #191919;
  --color-light: #fcfcfc;
  --color-red: #d4635d;
  --color-green: #32b17a;
  --color-blue: #256eff;
}

html {
  overflow-y: scroll;
  scrollbar-color: #333 var(--color-dark);
}

html,
body {
  height: 100%;
  background: linear-gradient(to bottom, #042b33 0%, #191919 23%, #191919 100%) fixed no-repeat;
  line-height: 1;
  color: var(--color-light);
  user-select: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Bahnschrift, sans-serif;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4,
h5,
h6 {
  font-size: 18px;
}

/* button {
  transition: background-color 0.3s ease, color 0.2s linear;
} */

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

:hover {
  transition: background-color 0.6s ease, color 0.6s linear;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}